image-uploader/dist
image-uploader/node_modules
image-uploader/package-lock.json
image-uploader/src/config/*
!image-uploader/src/config/index.ts
!image-uploader/src/config/global.ts
!image-uploader/src/config/module.ts
!image-uploader/src/config/providers.ts
